.new-recipe input{
  border-radius: 5px;
  box-shadow:         inset 0 0 0px #000000;
  background-color: #fff;
  color: #666;
}

.new-recipe{
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}
.recipe-name{
  width: 50%;
  font-size: 2rem;
}
.recipe-subtitle{
  width: 50%;
  font-size: 1.5rem;
}
.recipe-step{

}
.ingredient-name{
  width: 5rem;
}
.ingredient-amount{
  max-width: 1.5rem;
}
.ingredient-units{
  max-width: 1.5rem;
}
.recipe-ingredient{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: .2rem 0;
}
.add-ingredient, .add-step{
  background-color: tomato;
  color: white;
}

.recipe-header{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.recipe-name{
  text-align: left;
}
.recipe-subtitle{
  text-align: left;
}
.recipe-body{
  width: 100%;
  display: flex;
  padding: .5rem 0;
  justify-content: space-between;
}
.recipe-steps{
  width: 100%;
  max-width: 30%;
  font-size: .85rem;
  display: flex;
  flex-direction: column;
  padding: .2rem 0;
}
.recipe-instructions ol{
  text-align: left;
  padding-left: 0;
}
.step{
  padding-left: 1rem;
  padding-bottom: .5rem;
}
.recipe-ingredients{
  font-size: .85rem;
  font-weight: bold;
  width: 100%;
  max-width: 30%;
}
.recipe-ingredients-list{
  padding-left: 0;
}
.recipe-ingredients-list li{
  list-style: none;
}
.ingredient{
 display: flex;
 justify-content: space-between;
 padding-bottom: .5rem;
}
.ingredient-name, .ingredient-amount{
  margin: 0;
}
.recipe-footer{
  width: 100%;
}
.recipe-tags ul{
  display: flex;
  justify-content: space-around;
}
