.recipe-tag{
  font-size: .75rem;
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: .5rem;
  border-radius: 9999px;
  transition: .3s;
  cursor: pointer;
  border: none;
}
.recipe-tag:hover{
  background-color: gray;
}
.recipe-tag:focus,.recipe-tag:active{
  background-color: gray;
  border: none;
}
