.recipe{
  max-width: 40rem;
  margin: 0 auto;
  border: 1px solid gray;
}
.recipe-header{
  width: 100%;
  padding: 1rem;
}
.header-name{
  text-align: left;
}
.header-subtitle{
  text-align: left;
}
.recipe-body{
  width: 100%;
  display: flex;
  padding: 1rem;
}
.body-instructions{
  width: 50%;
  font-size: .85rem;
}
.body-instructions ol{
  text-align: left;
  padding-left: 20px;
}
.step{
}
.body-ingredients{
  align-self: flex-start;
  width: 20%;
  font-size: .85rem;
  font-weight: bold;
}
.body-ingredients li{
  list-style: none;
}
.ingredient{
}
.ingredient-name, .ingredient-amount{
  margin: 0;
}
.recipe-footer{
  width: 100%;
}
.footer-tags ul{
  display: flex;
  justify-content: space-around;
}
