.search{
  display: flex;
  height: 2rem;
}
.search-input{
  min-width: 10rem;
  font-size: 1rem;
}
.search-button{
  font-size: 1rem;
  padding: .5rem 2rem;
  background-color: tomato;
  border: none;
  color: white;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
}
.search-button:hover{
  background-color: white;
  color: tomato;
  border: none;
}
