.App {
  text-align: center;
}
.App h1{
  color: white;
}
.inner{
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.search{
  margin-left: auto;

}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
